@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255:
  --background-rgb: 0, 0, 0:
}

body {
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb))
}

@media (max-height: 710px) { 
  .sidebar{
    height: 100%;
  }
}

@layer components{
   .icons{
    @apply [&>*]:w-5 [&>*]:h-5 w-[34px]  h-[34px]  rounded-full hover:bg-blue-500/40 flex justify-center items-center 
  }
  .input{
    @apply text-xl flex flex-col gap-2 w-80
  }
}